@{
    ViewData["Title"] = "Delete Film";
}

@model Film

<h2>Delete Confirmation</h2>
<h6>Are you sure you want to delete @Model.Title?</h6>

<form method="post" asp-controller="Home" asp-action="DeleteFilm" asp-route-filmid="@Model.FilmID">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>

    <input type="hidden" asp-for="FilmID" />
</form>

